<!DOCTYPE html>
<html>
  <head>
    <% include partials/templates/head.ejs %>
  </head>
  <body id="page-top" class="index">
    <% include partials/templates/navigation.ejs %>
    <% include partials/templates/header.ejs %>
    <% include partials/content/modals.ejs %>
    <% include partials/content/about.ejs %>
    <% include partials/content/contact.ejs %>
    <% include partials/templates/footer.ejs %>
    <% include partials/templates/mobile_scroll.ejs %>
    <% include partials/content/modals_inner.ejs %>
    <% include partials/templates/scripts.ejs %>
  </body>
</html>