<header>
    <div class="container" itemscope itemtype="<%= itemtype %>Person">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="./img/Cyril-2.jpg" alt="Cyril Kalikin: Web Developer" itemprop="image">
                <div class="intro-text">
                    <span class="name" itemprop="givenName">Cyril Kalikin</span>
                    <hr class="star-light">
                    <span class="skills" itemprop="makesOffer"><%= skills %></span>
                </div><!--<intro-text>-->
            </div><!--<col-lg-12>-->
        </div><!--row-->
    </div><!--container-->
</header>