<!-- About Section -->
<section class="success" id="about" itemscope itemtype="<%= itemtype %>Person">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
                <p itemprop="description"><%- about %></p>
            </div>
        </div>

    </div>
</section>